WindowsTiler/ApiData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="window">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="position">
          <xs:complexType>
            <xs:attribute name="X" type="xs:unsignedShort" use="required" />
            <xs:attribute name="Y" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="size">
          <xs:complexType>
            <xs:attribute name="width" type="xs:unsignedShort" use="required" />
            <xs:attribute name="height" type="xs:unsignedShort" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="condition">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="title">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string"/>
                  <xs:attribute name="isempty" type="xs:boolean"/>
                  <xs:attribute name="mode">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="equals"/>
                        <xs:enumeration value="notequals"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="width">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedInt"/>
                  <xs:attribute name="accuracy" type="xs:unsignedInt"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="height">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedInt"/>
                  <xs:attribute name="accuracy" type="xs:unsignedInt"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>            
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="process" type="xs:string" use="required" />
      <xs:attribute name="mode" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="hold"/>
            <xs:enumeration value="close"/>
            <xs:enumeration value="remember"/>
            <xs:enumeration value="topmost"/>
            <xs:enumeration value="notopmost"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>